.banner {
    background: url("../img/image1.jpg") no-repeat;
    width: 695px;
    height: 231px;

    position: relative;

}

.banner h2 {
    color: white;
    font-size: 28px;
    width: 400px;
    font-width: normal;
    position: absolute;
    padding: 0 8px;
    bottom: -10px;
    left: 8px;
    background: rgba(0, 0, 0, .5);
}

header {
    overflow: hidden;
}

.grid_3 {
    margin-left: 60px;
}

/*
********************
* ´=miscellananeous
********************
*/
.container_24 {
    margin-top: 10px;
}

.main blockquote p:before,
.main blockquote p:after {
    font-size: 40px;
    color: #bfbfbf;
    font-style: italic;
}

blockquote, blockquote p {
    font-size: 15px;
    line-height: 20px;
    font-style: italic;
    color: #0e0e0e;
}

.main blockquote p:first-child:before {
    content: ' “ ';
    position: absolute;
    top: 7px;
    left: 0;
}

.main blockquote p:last-child:after {
    content: ' ” ';
    float: right;
    position: absolute;
    bottom: -7px;
    right: 0;
}

p {
    font-size: 13px;
    line-height: 20px;
    color: #353535;
}

h1, h2 {
    letter-spacing: -1px;
}

h3 {
    font-size: 26px;
    text-transform: lowercase;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 1em;
}

a {
    color: #7e7e7e;
    text-decoration: none;
}

a:hover, .selected {
    color: black;
}

.button {
    background-color: #242324;
    padding: 6px;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
}

.button:hover {
    background: black;
    color: white;
}

li {
    margin-left: 24px;
}

/*
********************
* ´=Header
********************
*/
header {
    overflow: hidden;
}

header h1 {
    background: url("../img/logo.png") no-repeat;
    text-indent: -9999px;
    width: 174px;
    height: 25px;
    margin: 10px 10px 22px;
    float: left;
}

nav {
    float: right;
    padding-top: 20px;
}

nav li {
    display: inline;
}

nav a {
    text-transform: lowercase;
}

.callout {
    background: black;
    height: 231px;
    margin: 0;
}

.grid_4 {
    background: red;
}

.container_12 {
    background: red;
}

.grid_3 {
    background: orange;
}

/*
********************
* ´=main
********************
*/
.main {
    margin-top: 20px;
}

.main blockquote p {
    padding-left: 30px;
}

blockquote {
    position: relative;
}

footer {
    clear: both;
    border-top: 1px solid #d1d1d1;
    padding-top: 18px;
    margin-top: 30px;
}

.work h2, .work h4 {
    font-weight: normal;
    font-size: 26px;

}

.work h2 {
    margin-bottom: 0;;
}

.work img {
    margin-bottom: 20px;
}

.work h4 {
    color: #787878;
    line-height: 1.2em;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 33px;
    magin-top: 30px;
}